{% extends 'base.html.twig' %}


{% block body %}
    {% if(messages|length > 0) %}
        {% for message in messages %}
            <h1>{{ message }}</h1>
        {% endfor %}
    {% else %}
        <p>There is nothing here yet!</p>
    {% endif %}
{% endblock %}

