{% extends 'base.html.twig' %}

{% block body %}
<h1>  {{ message.message }} z twiga nigga</h1>
<div>
    <b>
        {{ message.message }}
    </b>
    {{ include('hello/_message.html.twig', {message:message}) }}
</div>
{% endblock  %}